.manageDiv {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 3px 6px solid grey;
}
.nameTagHandler {
  color: black;
  text-decoration: none;
}
.overlapTextCut {
  width: 96%;
  padding-right: 10px;
  overflow-wrap: anywhere;
}
.imageDiv {
  height: 30px;
  width: 30px;
  object-fit: cover;
  align-items: center;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
.replyNameBackground {
  background-color: #bdc9ff;
  border-radius: 4px;
  padding-right: 2px;
  margin-right: 2px;
  color: white;
}
.nameBackground {
  background-color: #31326f;
  border-radius: 4px;
  padding-right: 2px;
  margin-right: 2px;
  color: white;
}
.nameBackground a {
  color: white;
  text-decoration: none;
}
.ImageHandler {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
}
.timeAndDate {
  color: rgb(170, 170, 170);
  margin-bottom: 0px;
  font-size: 14px;
}
.commentListClass {
  width: 100%;
  margin: 0 0 0 20px;
}

@media (max-width: 500px) {
  .manageDiv {
    width: 100%;
    padding: 2px;
    border-radius: 10x;
    box-shadow: 1px 3px 6px solid grey;
  }
  .ImageHandler {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
}
