.colorDiv {
  width: 100%;
  padding-bottom: 50px;
  text-align: center;

  background-color: rgb(156, 156, 224);
}

.changePhotoDiv {
  width: 100%;

  padding-bottom: 50px;
  padding: 50px;
}

@media (max-width: 500px) {
  .colorDiv {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
    background-color: rgb(156, 156, 224);
  }
  .changePhotoDiv {
    width: 100%;

    padding-bottom: 50px;
    padding: 50px;
  }
}
